@import url("https://fonts.googleapis.com/css2?family= Sofia+Sans & display = swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Sans", sans-serif;
  font-size: 1em;
}

.container {
  margin: 0 auto;
}

.Flex {
  display: flex;
  justify-content: space-between;
}

.Botao {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  background-color: #000000;
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 25px;
}

header {
  height: 90px;
  background-color: #FFFFFF;
}

#logo img {
  width: 200px;
}

#check {
  display: none;
}

label {
  font-size: 3em;
  position: fixed;
  right: 15px;
  top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  background-color: #343538;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -100%;
  transition: all 0.5s;
}
nav ul li {
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

#check:checked ~ ul {
  right: 0;
}

main {
  height: 70vh;
  background: url(../img/banneropc.jpg);
  background-size: cover;
  background-position: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main h1 {
  font-size: 2.5em;
}
main h2 {
  font-size: 1em;
  margin: 20px 0px 50px 0px;
}

#sobre {
  height: 40vh;
  padding: 50px 0px;
  background: url(../img/fundo\ mobile.png);
  background-size: cover;
  background-position: center;
}

#destaqueSobre {
  display: none;
}

#textoSobre {
  color: white;
  padding: 0px 10px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
#textoSobre h2 {
  margin-bottom: 10px;
}
#textoSobre p {
  margin-top: 20px;
}

#conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #FFFFFF;
  background: linear-gradient(90deg, #868F96 0%, #596164 100%);
}
#conteudo h2 {
  margin-top: 40px;
}
#conteudo p {
  margin-top: 20px;
}

.Card {
  flex-direction: column;
  margin-top: 50px;
}
.Card img {
  width: 120px;
  height: 220px;
}

.card img {
  margin-top: 50px;
  width: 300px;
  height: 180px;
}

.todos {
  margin-top: 90px;
  margin-bottom: 60px;
}

.Flex3 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

#tela {
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
  padding: 50px 10px;
  color: #FFFFFF;
}
#tela h2 {
  margin-bottom: 10px;
}
#tela p {
  margin-bottom: 25px;
}

#video iframe {
  width: 340px;
  height: 191px;
}

footer {
  padding: 50px 50px;
  background: linear-gradient(90deg, #434343 0%, #000000 100%);
  color: white;
  text-align: center;
}

.Flex5 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  main h1, main h2 {
    text-shadow: #4d4c4c 0.05em 0.05em 0.05em;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  main {
    height: 45vh;
  }
  main h1 {
    font-size: 5.5em;
  }
  main h2 {
    font-size: 2em;
  }
  #textoSobre {
    margin-top: 50px;
  }
  #textoSobre h2 {
    font-size: 2em;
  }
  #textoSobre p {
    margin-top: 40px;
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  #conteudo h2 {
    font-size: 2em;
  }
  #conteudo p {
    font-size: 1.5em;
  }
  .Card img {
    width: 200px;
    height: 300px;
  }
  .card img {
    width: 490px;
    height: 320px;
  }
  .todos {
    font-size: 1.5em;
    font-weight: 600;
  }
  #textosite {
    margin-right: 20px;
  }
  #textosite h2 {
    font-size: 2em;
    margin-top: 30px;
  }
  #textosite p {
    font-size: 1.5em;
    margin-top: 30px;
  }
  #video iframe {
    width: 560px;
    height: 315px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
  header {
    height: 140px;
  }
  #logo img {
    width: 250px;
    margin-top: 25px;
  }
  label {
    display: none;
  }
  nav ul {
    position: static;
    height: auto;
    background-color: transparent;
    margin-top: 45px;
  }
  nav ul li {
    float: left;
    border: 0;
    font-size: 20px;
  }
  nav ul li a {
    color: #343538;
  }
  nav ul li a:hover {
    color: aqua;
  }
  main {
    height: 70vh;
  }
  #sobre {
    background-attachment: fixed;
    height: 50vh;
  }
  #destaqueSobre {
    display: inline;
  }
  #destaqueSobre img {
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 40px;
  }
  #Cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .Flex3 {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  #iconeLocal {
    display: inline;
  }
  #iconeMapa {
    display: none;
  }
  #googleMaps {
    display: inline;
  }
  .Flex6 {
    flex-direction: row-reverse;
  }
}/*# sourceMappingURL=style.css.map */