//Importação Google Fonts
@import url('https://fonts.googleapis.com/css2?family= Sofia+Sans & display = swap');

//Cores
$black: #000000;


*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1em;
}

//Layout
.container{
    margin: 0 auto;
}
.Flex{
    display: flex;
    justify-content: space-between;

}

.Botao{
    text-decoration: none;
    color: #ffff;
    font-size: 1.3em;
    font-weight: 500;
    background-color: $black;
    padding: 10px 40px;
    border-radius: 25px
}


//Smartphone Portrait
//Cabeçalho
header{
    height: 90px;
    background-color: #FFFFFF;
    ;
}
#logo{
    img{
        width: 200px;
    }
}

#check{
    display: none;
}

label{
    font-size: 3em;
    position: fixed;
    right: 15px;
    top: 5px;
    color: rgba(0, 0, 0, 0.5);
}
nav{
    ul{
        list-style: none;
        background-color: #343538;
        height: 100vh;
        position: fixed;
        top: 60px;
        right: -100%;
        transition: all 0.5s;
        li{
            padding: 20px;
            border-bottom: 1px solid #a9a9a9;
            a{
                text-decoration: none;
                color: #ffff;
            }
        }
    }
}
#check:checked ~ ul{
    right: 0;
}

//Destaque
main{
    height: 70vh;
    background: url(../img/banneropc.jpg);
    background-size: cover;
    background-position: center;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1{
        font-size: 2.5em;
        margin-top: 40px;
    }
    h2{
        font-size: 1em;
        margin: 20px 0px 40px 0px;
    }
}
//Sobre
#sobre{
    height: 40vh;
    padding: 50px 0px;
    background: url(../img/fundo\ mobile.png);
    background-size: cover;
    background-position: center;


}
#destaqueSobre{
    display: none;
}
#textoSobre{
    color: #ffff;
    padding: 0px 10px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

    h2{
        margin-bottom: 10px;
    }
    p{
        margin-top: 20px;
    }
}

//Conteúdo
#conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #FFFFFF;
    background: linear-gradient(90deg, #868F96 0%, #596164 100%);

    h2{
        margin-top: 40px;
    }
    p{
        margin-top: 20px;
    }
}
.Card{
    flex-direction: column;
    margin-top: 50px;
    img{
        width:120px;
        height: 220px;

    }
}
.card img{
    margin-top: 50px;
    width: 300px;
    height: 180px;
}
.todos{
    margin-top: 90px;
    margin-bottom: 60px;
}
//Video
.Flex3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#tela{
    background: linear-gradient(90deg, #29323C 0%, #485563 100%);
    padding: 50px 10px;
    color: #FFFFFF;
    h2{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 25px;
    }
}
#video iframe{
    width: 340px;
    height: 191px;
}
//Rodapé
footer{
    padding: 50px 50px;
    background: linear-gradient(90deg, #434343 0%, #000000 100%);
    color: #ffff;
    text-align: center;

}
.Flex5{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

// Smartphone Landscape
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
    main{
        height: 90vh;
    }
    main h1, main h2{
        text-shadow: #4d4c4c 0.05em 0.05em 0.05em;
    }
    
}

// Tablet Portrait
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    //Destaque
    main{
        height: 45vh;
        h1{
            font-size: 5.5em;
        }
        h2{
            font-size: 2em;
        }
    }
    //Sobre
    #textoSobre{
        margin-top: 50px;
        h2{
            font-size: 2em;
        }
        p{
            margin-top: 40px;
            font-size: 1.5em;
            margin-bottom: 30px;
        }
    }
    //Conteúdo
    #conteudo{
        h2{
            font-size: 2em;
        }
        p{
            font-size: 1.5em;
        }
    }
    .Card{
        img{
            width: 200px;
            height: 300px;
        }
    }
    .card img{
        width: 490px;
        height: 320px;
    }
    .todos{
        font-size: 1.5em;
        font-weight: 600;
    }
    //Video informativo
    #textosite{
        margin-right: 20px;
        h2{
            font-size: 2em;
            margin-top: 30px;
        }
        p{
            font-size: 1.5em;
            margin-top: 30px;
        }
    } 
    #video iframe{
        width: 560px;
        height: 315px;
    }
    
}

//Tablet Landscape
@media (min-width: 992px){
    .container{
        max-width: 1140px;
    }
    header{
        height: 140px;
    }

    #logo{
        img{
            width: 250px;
            margin-top: 25px;
        }
    }
    label{
        display: none;
    }
    nav{
        ul{
            position: static;
            height: auto;
            background-color: transparent;
            margin-top: 45px;
            li{
                float: left;
                border: 0;
                font-size: 20px;
                a{
                    color: #343538;
                }
                a:hover{
                    color: aqua;
                }
            }
        }
    }
    //Destaque
    main{
        height: 70vh;
    }
    //Sobre
    #sobre{
        background-attachment: fixed;
        height: 50vh;
    }
    #destaqueSobre{
        display: inline;
        img{
            border-radius: 50%;
            margin-right: 50px;
            margin-bottom: 40px;
        }
    }
    //Conteúdo
    #Cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }
    //Video informativo 
    .Flex3{
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    //Rodapé
    #iconeLocal{
        display: inline;
    }
    #iconeMapa{
        display: none;
    }
    #googleMaps{
        display: inline;
    }
    .Flex6{
        flex-direction: row-reverse;
    }
}

//Desktop
@media (min-width: 1200px){
    

}